# App
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/clary?schema=public"

# MongoDB
MONGODB_URI="mongodb://localhost:27017/clary"

# Auth / JWT
JWT_SECRET="cambia-esta-clave-por-una-secreta"

# Seed admin (local only)
SEED_ADMIN_EMAIL="admin@clary.com"
SEED_ADMIN_PASSWORD="CambiaEstoYa123"

# Mercado Pago simulation
MP_SIMULATION="true"
MP_ACCESS_TOKEN=""
