# Nuxt dev/build outputs


.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Generated/local data
public/uploads/
prisma/seed.ts

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
